<!DOCTYPE html>
<html>
<head>
	<title></title>
	{%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">

</head>
<body>
	  <div id="overlay"></div>
<div class="loginbox">

    <div class="titless">Login Your Account</div>
    <!--<h1>Sign in</h1><br>-->
  <form method="post" action="." style="transform: translateY(-5px);color: #fff;">
      {%csrf_token%}
    {{form}}
    <input type="submit" value="LOGIN">
  </form>
  <a href="#">Forgot Password?</a><br>
  <span id="text-account">Don't have an account?</span><a id="create-account" href="/client/sign-up"> Create here.</a>
</div>
</body>
</html>
